/* GLOBAL FIX a&ul */
a {
  text-decoration-line: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  min-width: 100%;
}

header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

/* 
COLORS 
Цвет основного текста #757575;
Цвет заголовков/навигации/кнопок #212121;
Цвет ховера/фокуса навигации и контактов #2196F3;
Цвет главного заголовка/ховера кнопок #FFFFFF;
Заливка главной кнопки #2196F3;
Заливка главной кнопки ховер/фокус #188CE8;
Заливка кнопок #F5F4FA;
Заливка кнопок ховер/фокус #2196F3;
Заливка футтера и первой секции #2F303A;
Цвет контактов футера rgba(255, 255, 255, 0.6);

*/

/* 
TEXT
Основной щрифт Roboto;

основной текст
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

логотип
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;

навигация 
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

контакты хедер
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

главный заголовок
font-weight: 900;
font-size: 44px;
line-height: 60px;
letter-spacing: 0.06em;
text-transform: uppercase;

Второй заголовок
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;

Третий заголовок
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;

контакты футтер
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;


*/
:root {
  --text: #757575;
  --title-nav-btn: #212121;
  --hov-nav-contacts: #2196f3;
  --mtitle-hovbtn: #ffffff;
  --bcg-mbtn: #2196f3;
  --bcg-mbtn-hov: #188ce8;
  --bcg-btn: #f5f4fa;
  --bcg-btn-hov: #2196f3;
  --bcg-footer-msec: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navigation {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

body {
  color: var(--text);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* HEADER */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  }

.logo-first {
  color: #2196f3;
}

.nav {
  color: var(--title-nav-btn);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  margin-left: auto;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav:hover,
.nav:focus {
  color: var(--hov-nav-contacts);
}

.contact {
  color: var(--text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact:hover,
.contact:focus {
  color: var(--hov-nav-contacts);
}

.icon-nav {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  color: var(--hov-nav-contacts);
}

/* FOOTER */
.footer {
  background-color: var(--bcg-footer-msec);
  /* height: 252px; */
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  color: #ffffff;
  font-style: normal;
  margin-bottom: 9px;
}

.contact-footer {
  color: var(--footer-contacts);
  font-style: normal;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--hov-nav-contacts);
}

.footer-title-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-list-link {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: space-between;
}

.footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #2196f3;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-nav-address {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}

.address-list {
  display: flex;
  flex-direction: column;
}

/* SECTION 1 [index.html] */
.sec-one {
  background-color: #c4c4c4;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bgimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1600px;
  margin: 0 auto;
}

.mtitle {
  color: var(--mtitle-hovbtn);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero {
  width: 696px;
}

.mbtn {
  cursor: pointer;
  background-color: var(--bcg-mbtn);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mbtn:hover,
.mbtn:focus {
  background-color: var(--bcg-mbtn-hov);
}

/* SECTION 2 [index.html] */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.second-title {
  color: var(--title-nav-btn);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-three {
  color: var(--title-nav-btn);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-list {
  display: flex;
}

.advantage-list-item {
  width: 270px;
  /* height: 101px; */
}

.advantage-list-item:not(:last-child) {
  margin-right: 30px;
}

.none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.icons-sec-two {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION 3 [index.html] см.SECTION 2 */
.section-three {
  padding-bottom: 94px;
}

.title-sec-three {
  margin-bottom: 50px;
}

.photo-list {
  display: flex;
}

.photo-list-item:not(:last-child) {
  margin-right: 30px;
}

.thumb {
  position: relative;
}

.label-sec-three {
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

/* SECTION 4 [index.html] */
.section-four {
  background-color: #f5f4fa;
}

.cards {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-links {
  display: flex;
  /* justify-content: space-between; */
  width: 206px;
}

.team-links-li:not(:last-child) {
margin-right: 10px;
}

.link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--mtitle-hovbtn);
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  background-color: var(--hov-nav-contacts);
  fill: #ffffff;
}

.card-title {
  color: var(--title-nav-btn);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.card-info {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
}

.team-list-item {
  width: 270px;
  height: 428px;
  background-color: var(--mtitle-hovbtn);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.sec-title {
  margin-bottom: 50px;
}

/* SECTION 5 [index.html] */

.list-partners {
  display: flex;
}

.link-partner {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-partner:hover,
.link-partner:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.partner-logo:not(:last-child) {
  margin-right: 30px;
}

/* SECTION 1 [portfolio.html] */
.btn {
  cursor: pointer;
  background-color: var(--bcg-btn);
  color: var(--title-nav-btn);
  font-family: Roboto, sans-serif;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--bcg-btn-hov);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-btn {
  background-color: var(--bcg-btn-hov);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.case-title {
  color: var(--title-nav-btn);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.one {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  min-width: 73px;
}

.two {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  min-width: 128px;
}

.three {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  min-width: 145px;
}

.four {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  min-width: 103px;
}

.five {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  min-width: 130px;
}

.case-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.market {
  padding-top: 90px;
  padding-bottom: 98px;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list-item:not(:last-child) {
  margin-right: 8px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-list-item-wrapper {
  display: block;
}

.card-list-item-wrapper:hover,
.card-list-item-wrapper:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card-list-item-wrapper:hover .overlay,
.card-list-item-wrapper:focus .overlay {
  transform: translateY(0%);
  }

.card-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.card-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.cases {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms linear;
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}